@page
@using Portfolio.Repositories
@using Portfolio.Models
@model Portfolio.Pages.Admin.AboutModel
@{
    ViewData["Title"] = "Admin - About";
}
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script>
        var settings = {
            validClass: "is-valid",
            errorClass: "is-invalid"
        };
        $.validator.setDefaults(settings);
        $.validator.unobtrusive.options = settings;
    </script>
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#aboutAddModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="aboutAddModal" tabindex="-1" aria-labelledby="aboutAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutAddModalLabel">Add About</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" enctype="multipart/form-data">

                <div class="modal-body">
                    @if (Model.Error != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @Model.Error
                        </div>
                    }
                    @if (Model.Languages.Count == 0)
                    {
                        <p>There are no languages available, please add these before continuing</p>
                        <div class="d-block mt-3">
                            Go to <a asp-page="/Admin/Language">Languages</a>
                        </div>
                    }
                    else
                    {
                        @foreach (Languages language in Model.Languages)
                        {
                            @language.Language
                            if (language.Is_Default)
                            {
                                <i class="fas fa-star bg-secondary"></i>
                            }
                            <input asp-for="@Model.Translations[language.Id].Language_Id" value="@language.Id" type="text" class="form-control" id="inputLanguageId" placeholder="LanguageId">
                            <div class="form-group">
                                <label for="inputEmail">Title*</label>
                                <input asp-for="@Model.Translations[language.Id].Title" type="text" class="form-control" id="inputTitle" placeholder="Title">
                                <div class="alert alert-danger invalid-feedback" role="alert">
                                    <span asp-validation-for="@Model.Translations[language.Id].Title"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail">Description*</label>
                                <input asp-for="@Model.Translations[language.Id].Description" type="text" class="form-control" id="inputDescription" placeholder="Description">
                                <div class="alert alert-danger invalid-feedback" role="alert">
                                    <span asp-validation-for="@Model.Translations[language.Id].Description"></span>
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <label class="form-label" for="image">Voertuigfoto</label>
                            <input accept="image/*" type="file" class="form-control" id="image" asp-for="Photo" />
                            <span class="invalid-feedback" asp-validation-for="Photo"></span>
                        </div>
                        <br />
                    }

                </div>
                <div class="modal-footer d-inline text-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>

        </div>
    </div>
</div>