@page
@model Portfolio.Pages.Admin.LanguageModel
@{
    ViewData["Title"] = "Admin - Language";
}
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script>
        var settings = {
            validClass: "is-valid",
            errorClass: "is-invalid"
        };
        $.validator.setDefaults(settings);
        $.validator.unobtrusive.options = settings;
    </script>
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#aboutAddModal">
    Launch demo modal
</button>

<!-- Modal -->
@if (Model.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @Model.Error
    </div>
}
<div class="modal fade" id="aboutAddModal" tabindex="-1" aria-labelledby="aboutAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutAddModalLabel">Add About</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" enctype="multipart/form-data">

                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputLanguage">Language*</label>
                        <input asp-for="@Model.Language.Language" type="text" class="form-control" id="inputLanguage" placeholder="Language">
                        <div class="alert alert-danger invalid-feedback" role="alert">
                            <span asp-validation-for="@Model.Language.Language"></span>
                        </div>
                    </div>
                    <br />
                    <div class="form-check">
                        <input asp-for="@Model.Language.Is_Default" class="form-check-input" type="checkbox" value="" id="checkDefault">
                        <label class="form-check-label" for="checkDefault">
                            Default language
                        </label>
                        <div class="alert alert-danger invalid-feedback" role="alert">
                            <span asp-validation-for="@Model.Language.Is_Default"></span>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer d-inline text-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>

        </div>
    </div>
</div>